<ul id="navBar" class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/services">Services</a>
    </li>
    {{! <li class="nav-item">
      <a class="nav-link" href="/portfolio">Portfolio</a>
    </li> }}
    {{! <li class="nav-item">
      <a class="nav-link" href="/contact">Contact Us</a>
    </li> }}
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Social Media
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="https://www.facebook.com/Crims-Lawn-and-Landscape-106909425125586"target="__blank">Facebook</a>
      </div>
    </li>
  </ul>

