{{> header}}
{{> nav}}
<body>
    <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="/images/layingSod.jpeg" alt="Card image cap">
          <a href="/" class="cardLink"><div class="card-body">
            <h5 class="card-title">Services</h5>
            <p class="card-text">Take a Look at What We Offer</p></a>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="/images/oldppl.jpeg" alt="Card image cap">
          <a href="/" class="cardLink"><div class="card-body">
            <h5 class="card-title">Portfolio</h5>
            <p class="card-text">See some of our work!</p></a>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="/images/handshake.jpeg" alt="Card image cap">
          <a class="cardLink" href="/contact"><div class="card-body">
            <h5 class="card-title">How can We Help You?</h5>
            <p class="card-text">Get a Quote Today!</p></a>
          </div>
        </div>
      </div>


    



{{> footer}}