{{> header}}
{{> nav}}

<div class="alert alert-success" id="callUs"role="alert">
  <b>Want a quote? <a href="/contact">Contact Us</a> or Call! (302) 743-0040</b>
</div>
<div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="/images/lawnmower.jpeg" alt="Card image cap">
      <a href="/" class="cardLink"><div class="card-body">
        <h5 class="card-title">Mowing Service</h5>
        <p class="card-text">Keep your lawn looking clean and fresh</p></a>

      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="/images/Mulching.jpeg" alt="Card image cap">
      <a href="/" class="cardLink"><div class="card-body">
        <h5 class="card-title">Mulching</h5>
        <p class="card-text">Clean lines and sharp looks!</p></a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="/images/shrub.jpeg" alt="Card image cap">
      <a class="cardLink" href="/contact"><div class="card-body">
        <h5 class="card-title">Tree and Shrub Removal</h5>
        <p class="card-text">Get rid of those eyesores!</p></a>
      </div>
    </div>
  </div>

{{> footer}}