{{> header}}
{{> nav}}

<div class="alert alert-success" id="callUs"role="alert">
  <b>For Quotes: <a href="mailto:crimslawnandlandscape@gmail.com">Email Us</a> or Call! (302) 743-0040</b>
</div>
<div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="/images/bluehouse.jpeg" alt="Card image cap">
      <a href="/contact" class="cardLink"><div class="card-body">
        <h5 class="card-title">Mowing Service</h5>
        <p class="card-text">If you don't, your neighbors will!</p></a>

      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="/images/mulchingCorner.jpeg" alt="Card image cap">
      <a href="/contact" class="cardLink"><div class="card-body">
        <h5 class="card-title">Mulching</h5>
        <p class="card-text">A clean garden is a happy garden!</p></a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="/images/flowersraw.jpeg" alt="Card image cap">
      <a class="cardLink" href="/contact"><div class="card-body">
        <h5 class="card-title">Gardens and Flowerbeds</h5>
        <p class="card-text">Instagram ready!</p></a>
      </div>
    </div>
  </div>

{{> footer}}